# Python bytecode
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env
*.env
.env.*
!.env.example

# Database
db.sqlite3
db.sqlite3-journal
*.sqlite3

# Static & Media uploads
/media/
media/
/staticfiles/
staticfiles/

# Local build & tools
/bin/
bin/
.dirs/
/scratch/
*.log
setup_log.txt
verify_report.txt
.DS_Store/
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
env/
ENV/
